<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <entityFramework>
        <contexts>
            <context type="CodeFirst.DataBaseContext, CodeFirst" disableDatabaseInitialization="false">
                <databaseInitializer
                        type="System.Data.Entity.DropCreateDatabaseIfModelChanges`1[[CodeFirst.DatabaseContext, CodeFirst]], EntityFramework" />
            </context>
        </contexts>
        ...
    </entityFramework>
</configuration>
